.a{
    background-color: green;

}
td{
    border:2px solid rgb(65, 63, 63);

}
table{
    border-collapse: collapse;
    width: 100%;
}
.f{
    background-color: black;
    color: white;
    text-align: center;
}



